<!DOCTYPE HTML>

<html xmlns=http://www.w3.org/1999/xhtml xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Liste des intervenants</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	
	<body>
	
		
		<h1>Liste des intervenants</h1>
		
		<table>
		    <thead>
		        <tr>
		            <th> Nom </th>
		            <th> Prénom </th>
		            <th> Email </th>
		            <th> Date de naissance </th>
		            <th> Numéro d'intervenant </th>
		            <th> Nombre d'heures d'interventions </th>
		            <th> Besoins spécifiques </th>
		        </tr>
		    </thead>
		    <tbody>
		    	<tr th:if="${listeIntervenants.empty}">
		            <td colspan="7"> Pas d'intervenants </td>
		        </tr>
		        <tr th:each="intervenant : ${listeIntervenants}">
		            <td><span th:text="${intervenant.nom}"> Nom </span></td>
		            <td><span th:text="${intervenant.prenom}"> Prénom </span></td>
		            <td><span th:text="${intervenant.email}"> Email </span></td>
		            <td><span th:text="${intervenant.dateNaissance}"> Date de naissance </span></td>
		            <td><span th:text="${intervenant.idIntervenant}"> / </span></td>
		            <td><span th:text="${intervenant.nombreHeures}"> / </span></td>
		            <td><span th:text="${intervenant.besoinsSpecifiques}"> / </span></td>
		        </tr>
		    </tbody>
		</table>
		<div>
			<p>
				<a href="http://localhost:8080">retour Accueil</a>
			</p>
		</div>
	</body>
	
</html>